<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
                {% if user.profile_path%}
                    <img src="{{url_for('static',filename = user.profile_path)}}" alt="" class="img-thumbnail">
                {% else%}
                    <p>No profile picture</p>
                {% endif%}
            </div>
            <div class ="col-md-4">
                <h2> {{user.username| capitalize}} </h2>

                {% if user.bio%}
                    <p> {{user.bio}} </p>
                {% else%}
                    <p> {{user.username| capitalize}} has no bio</p>
                {% endif%}
            </div>
        </div>
        {% if user == current_user%}
            <a href=" {{url_for('main.update_profile',uname = user.username)}}">Edit profile</a>
        {% endif%}

        <center><p>pitches</p></center>
        <div class="row">
            {% if pitch%}
                {% for pit in pitch%}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-title">
                                {{pit.pitch_title}}
                            </div>
                            <div class="card-body">
                                {{pit.pitch_body}}
                            </div>
                        </div>
                    </div>
                {% endfor%}
            {% else%}
                <h3> your have no pitches of your own</h3>
                <a href="/pitch/new/{{current_user.username}}">write a pitch</a>
            {% endif%}
        </div>
       
                
    </div>
</body>
</html>